@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
  overflow-y: scroll;
  font-family: $font-main;
  font-size: $font-size;
}
body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  font-size: 3.75rem;
  font-family: $font-header;
  font-weight: 300;
  letter-spacing: 0.078em;
  line-height: 1.2em;
}
h2 {
  color: $color-primary;

  letter-spacing: 0.1em;
  line-height: 1.25em;
}
h3 {
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: $color-gray;
  font-size: 1.125rem;
}

a {
  color: $color-white;
  text-decoration: none;
}
p {
  color: $color-gray;
}